# Libraries

In [1]:
import numpy as np 
import pandas as pd 
import re

## Read the datasets
- users
- organisations
- contents
- events
- contacts
- recommendations

In [2]:
# Read the datasets
users_df = pd.read_csv('/kaggle/input/recommendation-system-dataset/users.tsv', sep='\t')
organisations_df = pd.read_csv('/kaggle/input/recommendation-system-dataset/organisations.tsv', sep='\t')
contents_df = pd.read_csv('/kaggle/input/recommendation-system-dataset/content.tsv', sep='\t')
events_df = pd.read_csv('/kaggle/input/recommendation-system-dataset/events.tsv', sep='\t')
contacts_df = pd.read_csv('/kaggle/input/recommendation-system-dataset/contacts.tsv', sep='\t')
recommendations_df = pd.read_csv('/kaggle/input/recommendation-system-dataset/recommendations.tsv', sep='\t')

### Preprocessing the users table
- remove the empty columns (city, country, state, phone_number, linkedin_url and description)

In [3]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               45 non-null     int64
 1   first_name       45 non-null     object
 2   last_name        45 non-null     object
 3   email            45 non-null     object
 4   role_id          45 non-null     int64
 5   organisation_id  44 non-null     float64
 6   picture_name     39 non-null     object
 7   position         44 non-null     object
 8   gender           45 non-null     object
 9   city             0 non-null      float64
 10  country          0 non-null      float64
 11  state            0 non-null      float64
 12  created          45 non-null     int64
 13  phone_number     0 non-null      float64
 14  linkedin_url     0 non-null      float64
 15  description      0 non-null      float64
dtypes: float64(7), int64(3), object(6)
memory usage: 5.8+ KB

In [4]:
# Drop the columns as it's no longer needed (Empty)
users_df = users_df.drop(columns=['city', 'country', 'state', 'phone_number', 'linkedin_url', 'description'])
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               45 non-null     int64
 1   first_name       45 non-null     object
 2   last_name        45 non-null     object
 3   email            45 non-null     object
 4   role_id          45 non-null     int64
 5   organisation_id  44 non-null     float64
 6   picture_name     39 non-null     object
 7   position         44 non-null     object
 8   gender           45 non-null     object
 9   created          45 non-null     int64
dtypes: float64(1), int64(3), object(6)
memory usage: 3.6+ KB

### Preprocessing the organisations table
- remove the empty columns (email, year_founded, phone_number, and linkedin_url)

In [5]:
organisations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            19 non-null     int64
 1   name          19 non-null     object
 2   city          16 non-null     object
 3   state         19 non-null     object
 4   country       19 non-null     object
 5   industry      19 non-null     object
 6   profile       19 non-null     object
 7   created       19 non-null     int64
 8   description   19 non-null     object
 9   linkedin_url  0 non-null      float64
 10  phone_number  0 non-null      float64
 11  email         0 non-null      float64
 12  year_founded  0 non-null      float64
 13  logo_name     19 non-null     object
dtypes: float64(4), int64(2), object(8)
memory usage: 2.2+ KB

In [6]:
# Drop the columns as it's no longer needed (Empty)
organisations_df = organisations_df.drop(columns=['email', 'year_founded',  'phone_number', 'linkedin_url'])
organisations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           19 non-null     int64
 1   name         19 non-null     object
 2   city         16 non-null     object
 3   state        19 non-null     object
 4   country      19 non-null     object
 5   industry     19 non-null     object
 6   profile      19 non-null     object
 7   created      19 non-null     int64
 8   description  19 non-null     object
 9   logo_name    19 non-null     object
dtypes: int64(2), object(8)
memory usage: 1.6+ KB

### Preprocessing the contents table
- remove the empty columns (organisation_id, and creator_id)
- remove unhelpful content_type column (all records have same value)
- casting the id column from float to integer type
- remove the leading spaces for the columns names
- drop the null records that doesn't has id value

In [7]:
contents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                141 non-null    float64
 1   title             142 non-null    object
 2    description      141 non-null    object
 3   content_type      141 non-null    object
 4   organisation_id   1 non-null      float64
 5   url               141 non-null    object
 6   creator_id        7 non-null      float64
 7   created           140 non-null    float64
 8   publication_date  133 non-null    object
dtypes: float64(4), object(5)
memory usage: 10.1+ KB

In [8]:
# Rename the column to remove leading whitespace (description column has leading whitespace)
contents_df = contents_df.rename(columns=lambda x: x.strip())

# Drop the 'organisation_id' and 'creator_id' columns as it's no longer needed (Empty)
# 'content_type' has same value for all records (not important)
contents_df = contents_df.drop(columns=['organisation_id', 'creator_id', 'content_type'])

# Remove row that doesn't has id
contents_df = contents_df.dropna(subset=['id'])

# Convert the id type to integer
contents_df['id'] = contents_df['id'].astype(int)

contents_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 0 to 141
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                141 non-null    int64
 1   title             141 non-null    object
 2   description       141 non-null    object
 3   url               140 non-null    object
 4   created           140 non-null    float64
 5   publication_date  133 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 7.7+ KB

### Preprocessing the events table
- remove the empty column (organisation_id)
- edit the value of row of id (854) for the location column from ',' to 'online'
- process the row of id (438) that has 68 records in title field
- handle the format value of 'Price' column, the Free value convert it to 0, and string value to fload else None
- reformat the location column into three columns, so we can know if the event is onsite or online in addition to the state and city of the event if onsite

In [9]:
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               266 non-null    int64
 1   title            266 non-null    object
 2   event_type       266 non-null    object
 3   description      262 non-null    object
 4   start            259 non-null    object
 5   end              259 non-null    object
 6   location         266 non-null    object
 7   url              265 non-null    object
 8   price            183 non-null    object
 9   organisation_id  1 non-null      float64
 10  created          266 non-null    float64
 11  last_modified    187 non-null    float64
 12  lon              185 non-null    float64
 13  lat              185 non-null    float64
dtypes: float64(5), int64(1), object(8)
memory usage: 29.2+ KB

In [10]:
# # Drop the 'organisation_id' column as it's no longer needed (Empty)
events_df = events_df.drop(columns=['organisation_id'])

# Update the location to 'online' where id == 854
events_df.loc[events_df['id'] == 854, 'location'] = 'online'



# get the bad record data
uncleaned_record = events_df.loc[events_df['id'] == 438].values.flatten().tolist()
# Delete the row where id == 438
events_df = events_df[events_df['id'] != 438]

# divide the record data into parts
first_record_id = uncleaned_record[0] # id field (it missed value for the first row in the title)
all_records_before = uncleaned_record[1] # title field
last_record_end_data = uncleaned_record[2:][:-2] # others, (-2) DON'T INCLUDE THE np.nan cuz it shifted (its missed values for the last row in the title)

all_records_after = all_records_before.split('\n') # divide the title into multiple records by '\n'

# make processing on each record to get its fields spliting by '\t'
all_records_tolist = [list(filter(lambda part: part != '', row.split('\t'))) for row in all_records_after]


all_records_tolist[0].insert(0, first_record_id) # add the missed value of the first record
all_records_tolist[-1] += last_record_end_data # add the missed values of the last records




# Process each row and add to new_records DataFrame
for row in all_records_tolist:
    if len(row) == 9:
        # Add row with 9 elements
        cols = ['id', 'title', 'event_type', 'description', 'location', 'url', 'price', 'created', 'last_modified']
    elif len(row) == 10:
        cols = ['id', 'title', 'event_type', 'description', 'location', 'url', 'created', 'last_modified', 'lon', 'lat']
    elif len(row) == 11: # there are two types of data, based on the last value we can detect the record format
        try: 
            int(row[-1])
            cols = ['id', 'title', 'event_type', 'description', 'start', 'end', 'location', 'url', 'price', 'created', 'last_modified']
        except ValueError:
            cols = ['id', 'title', 'event_type', 'description', 'location', 'url', 'price', 'created', 'last_modified', 'lon', 'lat']

    elif len(row) == 12:
        cols = ['id', 'title', 'event_type', 'description', 'start', 'end', 'location', 'url', 'created', 'last_modified', 'lon', 'lat']
    elif len(row) == 13:
        cols = ['id', 'title', 'event_type', 'description', 'start', 'end', 'location', 'url', 'price', 'created', 'last_modified', 'lon', 'lat']
    else:  # Assume 14
        cols = ['id', 'title', 'event_type', 'description', 'start', 'end', 'location', 'url', 'price', 'organisation_id', 'created', 'last_modified', 'lon', 'lat']
    
    # Create a DataFrame for the new record
    new_record_df = pd.DataFrame([row], columns=cols)

    # Append new record to the existing DataFrame
    events_df = pd.concat([events_df, new_record_df], ignore_index=True)




# # Function to convert "From $number" to number
def handle_price_format(value):
    if value is np.nan:
        return np.nan
    elif value.lower() == 'free':
        return 0

    return float(value.replace('From $', ''))

# # Apply the conversion function to the 'price' column
events_df['price'] = events_df['price'].apply(handle_price_format)


# Convert the id column to integer type
events_df['id'] = events_df['id'].astype(int)

events_df['start'] = events_df['start'].astype(float)
events_df['end'] = events_df['end'].astype(float)
events_df['created'] = events_df['created'].astype(float)
events_df['last_modified'] = events_df['last_modified'].astype(float)
events_df['lon'] = events_df['lon'].astype(float)
events_df['lat'] = events_df['lat'].astype(float)


# Create the 'meeting' column
events_df['meeting'] = events_df['location'].apply(lambda x: 'online' if x == 'online' else 'onsite')

# Create 'city' and 'state' columns
events_df[['city', 'state']] = events_df.apply(
    lambda row: pd.Series(row['location'].split(', ')) if row['location'] != 'online' else pd.Series([None, None]),
    axis=1
)


# Drop the location column as it's no longer needed 
events_df = events_df.drop(columns=['location'])

events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             333 non-null    int64
 1   title          333 non-null    object
 2   event_type     333 non-null    object
 3   description    329 non-null    object
 4   start          319 non-null    float64
 5   end            319 non-null    float64
 6   url            333 non-null    object
 7   price          213 non-null    float64
 8   created        332 non-null    float64
 9   last_modified  254 non-null    float64
 10  lon            249 non-null    float64
 11  lat            249 non-null    float64
 12  meeting        333 non-null    object
 13  city           253 non-null    object
 14  state          253 non-null    object
dtypes: float64(7), int64(1), object(7)
memory usage: 39.1+ KB

### Preprocessing the contacts table
- remove the empty columns (organisation_id, picture_name, position, gender and phone_number)
- remove unhelpful role_id column (all records have same value)

In [11]:
contacts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               300 non-null    int64
 1   first_name       300 non-null    object
 2   last_name        300 non-null    object
 3   email            300 non-null    object
 4   role_id          300 non-null    int64
 5   organisation_id  0 non-null      float64
 6   picture_name     0 non-null      float64
 7   position         0 non-null      float64
 8   gender           0 non-null      float64
 9   city             290 non-null    object
 10  country          300 non-null    object
 11  state            295 non-null    object
 12  created          300 non-null    int64
 13  phone_number     0 non-null      float64
 14  linkedin_url     300 non-null    object
 15  description      298 non-null    object
dtypes: float64(5), int64(3), object(8)
memory usage: 37.6+ KB

In [12]:
# Drop the columns as it's no longer needed (Empty)
# 'role_id' has same value for all records (not important)
contacts_df = contacts_df.drop(columns=['organisation_id', 'picture_name', 'position', 'gender', 'phone_number', 'role_id'])

contacts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            300 non-null    int64
 1   first_name    300 non-null    object
 2   last_name     300 non-null    object
 3   email         300 non-null    object
 4   city          290 non-null    object
 5   country       300 non-null    object
 6   state         295 non-null    object
 7   created       300 non-null    int64
 8   linkedin_url  300 non-null    object
 9   description   298 non-null    object
dtypes: int64(2), object(8)
memory usage: 23.6+ KB

### Preprocessing the recommendation table
- remove the empty column (user_score)

In [13]:
recommendations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658 entries, 0 to 657
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               658 non-null    int64
 1   title            658 non-null    object
 2   asset_type       658 non-null    object
 3   asset_id         658 non-null    int64
 4   organisation_id  658 non-null    int64
 5   user_id          658 non-null    int64
 6   creator_id       658 non-null    int64
 7   system_score     658 non-null    float64
 8   user_score       0 non-null      float64
 9   created          658 non-null    int64
 10  opened           625 non-null    float64
 11  deleted          403 non-null    float64
 12  saved            338 non-null    float64
 13  clicked_out      414 non-null    float64
dtypes: float64(6), int64(6), object(2)
memory usage: 72.1+ KB

In [14]:
# Drop the 'user_score' column as it's no longer needed (Empty)
recommendations_df = recommendations_df.drop(columns=['user_score'])

recommendations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658 entries, 0 to 657
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               658 non-null    int64
 1   title            658 non-null    object
 2   asset_type       658 non-null    object
 3   asset_id         658 non-null    int64
 4   organisation_id  658 non-null    int64
 5   user_id          658 non-null    int64
 6   creator_id       658 non-null    int64
 7   system_score     658 non-null    float64
 8   created          658 non-null    int64
 9   opened           625 non-null    float64
 10  deleted          403 non-null    float64
 11  saved            338 non-null    float64
 12  clicked_out      414 non-null    float64
dtypes: float64(5), int64(6), object(2)
memory usage: 67.0+ KB

# Categorizing Recommendations
### Divide the recommendation table into three categories:
- **Content**
- **Event**
- **Contact**

In [15]:
# Divide the DataFrame into three categories
content_recommendations_df = recommendations_df[recommendations_df['asset_type'] == 'content'].rename(columns={'asset_id': 'content_id'}).drop(columns=['asset_type'])
event_recommendations_df = recommendations_df[recommendations_df['asset_type'] == 'event'].rename(columns={'asset_id': 'event_id'}).drop(columns=['asset_type'])
contact_recommendations_df = recommendations_df[recommendations_df['asset_type'] == 'contact'].rename(columns={'asset_id': 'contact_id'}).drop(columns=['asset_type'])

In [16]:
content_recommendations_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 218 entries, 0 to 647
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               218 non-null    int64
 1   title            218 non-null    object
 2   content_id       218 non-null    int64
 3   organisation_id  218 non-null    int64
 4   user_id          218 non-null    int64
 5   creator_id       218 non-null    int64
 6   system_score     218 non-null    float64
 7   created          218 non-null    int64
 8   opened           209 non-null    float64
 9   deleted          138 non-null    float64
 10  saved            99 non-null     float64
 11  clicked_out      130 non-null    float64
dtypes: float64(5), int64(6), object(1)
memory usage: 22.1+ KB

In [17]:
event_recommendations_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 220 entries, 10 to 657
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               220 non-null    int64
 1   title            220 non-null    object
 2   event_id         220 non-null    int64
 3   organisation_id  220 non-null    int64
 4   user_id          220 non-null    int64
 5   creator_id       220 non-null    int64
 6   system_score     220 non-null    float64
 7   created          220 non-null    int64
 8   opened           211 non-null    float64
 9   deleted          130 non-null    float64
 10  saved            119 non-null    float64
 11  clicked_out      145 non-null    float64
dtypes: float64(5), int64(6), object(1)
memory usage: 22.3+ KB

In [18]:
contact_recommendations_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 220 entries, 5 to 652
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               220 non-null    int64
 1   title            220 non-null    object
 2   contact_id       220 non-null    int64
 3   organisation_id  220 non-null    int64
 4   user_id          220 non-null    int64
 5   creator_id       220 non-null    int64
 6   system_score     220 non-null    float64
 7   created          220 non-null    int64
 8   opened           205 non-null    float64
 9   deleted          135 non-null    float64
 10  saved            120 non-null    float64
 11  clicked_out      139 non-null    float64
dtypes: float64(5), int64(6), object(1)
memory usage: 22.3+ KB

# Data Export Post-Cleanup

In [19]:
users_df.to_csv('users.csv', index=False)
organisations_df.to_csv('organisations.csv', index=False)
contents_df.to_csv('contents.csv', index=False)
events_df.to_csv('events.csv', index=False)
contacts_df.to_csv('contacts.csv', index=False)

content_recommendations_df.to_csv('content_recommendations.csv', index=False)
event_recommendations_df.to_csv('event_recommendations.csv', index=False)
contact_recommendations_df.to_csv('contact_recommendations.csv', index=False)